<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inserir Tarefa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nova tarefa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input
      [(ngModel)]="novoItem"
      label="Insira a tarefa"
      labelPlacement="stacked"
      [clearOnEdit]="true"
      fill="solid"
      placeholder="Por exemplo: 'Realizar atividade de Desenvolvimentos Móveis'"> </ion-input>
      <ion-button expand="block" (click)="addItem()">
        Salvar
      </ion-button>
    </ion-item>


  </ion-list>


  <ion-button (click)="nextPage()">
    Voltar
  </ion-button>

  

</ion-content>